//- Все примеси в этом файле должны начинаться c имени блока (svg)

mixin svg(svg_url, svg_id)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +svg("sprite-svg.svg","symbol_id")

        a.action(href="#!")
          +svg("","location")(class="icon-md icon-stroke")

  if svg_id
    svg(role='img')&attributes(attributes)
      use(xlink:href= svg_url + '#' + svg_id)
  else
    svg(role='img')&attributes(attributes)
      use(xlink:href= svg_url)
